* {
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px
}

.button-header {
    border-radius: 20.5px;
    background: #665AE1;
    Width: 130px;
    Height: 41px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #FFF;
    cursor: pointer;
}

.link-header {
    font-Weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 124px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 450px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.button-main:hover {
    opacity: 0.7;
}

.button-main:active {
    opacity: 0.4;
}

@media screen and (max-width:900px) {

    header {
        display: none;
    }

    p {
        display: none;
    }

    div {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .logo-image {
        position: static;
        width: 90%;
        height: auto;
        margin: 30% 5% 5% 5%;
    }

    h1{
        font-size: 50px;
        width: auto;
        text-align: center;
        line-height: 50px;
    }

h2{
    font-size: 30px;
    width: auto;
    text-align: center;
    margin-bottom: 17px;
}

.button-main{
    margin: 0 auto;
    display: block;
}




}